<template>
  <main>
    <v-card
      color="primary"
      class="hero d-flex flex-column justify-center align-center"
    >
      <!-- hero -->
      <div class="hero__title text-center">
        <!-- title -->
        <h1 class="white--text">Men's lifestyle shoes</h1>
        <!-- subtitle -->
        <small class="white--text font-weight-bold">
          lorem | lorem | lorem | lorem
        </small>
      </div>
    </v-card>
    <v-container class="store-home">
      <featuredProducts />
      <filterProducts />
    </v-container>
    <!-- prefooter -->
    <div
      class="new-slatter bg_1 bg-img--repeat"
      :style="
        `
          background-image: url('${require('@/assets/images/pattern1.png')}')
        `
      "
    >
      <v-container class="wrapper">
        <v-row no-gutters class="justify-center">
          <v-col cols="12" class="text-center">
            <h2 class="text-uppercase bg_2--text">
              Suscribete a nuestro newslatter
            </h2>
          </v-col>
          <v-col cols="12" class="text-center">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </v-col>
          <v-col cols="5" class="text-center mt-10">
            <v-text-field
              placeholder="Enterate de nuestras Promociones"
              rounded
              solo
              append-icon="mdi-email-outline"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </main>
</template>

<script>
/* eslint-disable */
import featuredProducts from '@/components/commons/featuredProducts'
import filterProducts from '@/components/commons/filterProducts'
import productCatalog from '@/components/commons/productCatalog'
export default {
  // asyncData({
  //   isDev,
  //   route,
  //   store,
  //   env,
  //   params,
  //   query,
  //   req,
  //   res,
  //   redirect,
  //   error
  // }) {
  //   console.info(route)
  // },
  async created() {
    // const res = await this.callApi(
    //   'get',
    //   'https://jsonplaceholder.typicode.com/todos/1'
    // )
    // console.info(res)
  },
  components: {
    featuredProducts,
    filterProducts,
    productCatalog
  }
}
</script>

<style lang="scss">
$offset: -100px;
.store-home {
  background-color: #fff;
  overflow: hidden;
  padding: 0;
  margin-top: $offset;
  z-index: 100;
  position: relative;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.new-slatter {
  // height: 250px;
  margin: -50px;
  .wrapper{
    padding: 125px 0;
  }
}
.hero {
  height: 300px;
  &__title{
    transform: translateY(-50px)
  }
}
</style>
