<template>
  <!-- appbar -->
  <v-app-bar
    :clipped-left="clipped"
    fixed
    app
    color="primary"
    dark
    class="studio-appBar"
  >
    <v-btn icon>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
    <v-app-bar-nav-icon @click.stop="toggleMiniVariant()" />
    <v-spacer />
    <v-toolbar-title v-text="title" />
    <v-spacer />
    <v-btn icon to="/auth/signIn">
      <v-icon>mdi-account-outline</v-icon>
    </v-btn>
    <v-btn icon to="/">
      <v-icon>mdi-cart-outline</v-icon>
    </v-btn>
    <!-- <v-menu bottom left>
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bi nd="attrs" v-on="on">
          <v-icon>mdi-account-outline</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item v-for="(item, i) in items" :key="i">
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu> -->
  </v-app-bar>
</template>

<script>
import GlobalMixin from '@/mixins/globalMixin'
export default {
  mixins: [GlobalMixin],
  data() {
    return {
      clipped: true,
      miniVariant: false,
      title: 'DeeplyStore',
      items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' }
      ]
    }
  },
  mounted() {}
}
</script>

<style lang="scss">
.studio-appBar {
  z-index: 2000 !important;
}
</style>
