<template>
  <v-card class="mx-auto auth-wrapper" outlined>
    <v-container fluid class="py-0 fill-height">
      <v-row class="fill-height">
        <!-- background content -->
        <v-col class="primary d-flex justify-center align-center">imagen</v-col>
        <!-- login content -->
        <v-col class="d-flex flex-column align-center justify-center">
          <v-row class="justify-center align-center">
            <v-col cols="12" class="pa-0 text-center">
              <slot></slot>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <v-btn fab small class="close-custom-btn" to="/">
      <v-icon color="#ff6145">mdi-close</v-icon>
    </v-btn>
  </v-card>
</template>

<script>
export default {
  layout: 'auth'
}
</script>

<style lang="scss">
.auth-wrapper {
  height: 350px;
  width: 50%;
  position: relative;
}
.close-custom-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
</style>
