<template>
  <!-- drawer -->
  <v-navigation-drawer
    v-if="drawer"
    :mini-variant="getMiniVariant"
    :clipped="clipped"
    fixed
    app
  >
    <!-- drawer items -->
    <v-list>
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import globalMixin from '@/mixins/globalMixin'
export default {
  mixins: [globalMixin],
  data() {
    return {
      clipped: true,
      fixed: false,
      drawer: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/auth/signIn'
        }
      ]
    }
  }
}
</script>

<style></style>
