<template>
  <v-row class="featured-products ">
    <v-col cols="6" class="featured-products__product featured_1">
      <Product :info="featured_1" featured />
    </v-col>
    <v-col class="featured-products__product indigo featured_2">
      <Product :info="featured_2" featured />
    </v-col>
  </v-row>
</template>

<script>
import Product from '@/components/commons/product'
export default {
  components: {
    Product
  },
  data() {
    return {
      products: [],
      featured_1: {
        title: 'Decoración.',
        discount: '-10%',
        header: 'Deluxe',
        image: require('@/assets/images/prueba1.webp')
      },
      featured_2: {
        title: 'Accesorios.',
        discount: '-30%',
        header: 'Colección 2020',
        image: require('@/assets/images/prueba2.webp')
      }
    }
  }
}
</script>

<style lang="scss">
.featured-products {
  &__product {
    &:nth-child(1) {
      // background-color: teal;
    }
    &:nth-child(2) {
      // background-color: lightcoral;
    }
  }
}
</style>
