<template>
  <v-container no-gutters class="pa-0">
    <!-- header -->
    <v-row no-gutters class="global-filter">
      <v-col cols="3" class="border-right border-bottom">
        <!-- filter by name -->
        <v-autocomplete
          v-model="select"
          cache-items
          class="mx-4"
          flat
          hide-no-data
          hide-details
          label="Buscar producto"
          solo=""
          prepend-icon="mdi-magnify"
          append-icon=""
          :loading="loading"
          :items="items"
          :search-input.sync="search"
        ></v-autocomplete>
      </v-col>
      <v-col class="border-bottom">
        <v-row no-gutters class="fill-height">
          <v-col></v-col>
          <v-col
            cols="auto"
            class="border-right d-flex align-center justify-end border-left"
          >
            <v-btn icon fab small tile class="dp-btn" @click="toggleShopMode()">
              <v-icon v-if="gridMode">mdi-view-grid</v-icon>
              <v-icon v-else>mdi-view-list</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="4" class="d-flex align-center justify-end"></v-col>
        </v-row>
      </v-col>
    </v-row>
    <!-- content -->
    <v-row class="product-search no-gutters">
      <v-col cols="3" class="border-right">
        <!-- especific filters -->
        <v-container class="pa-0">
          <v-expansion-panels :accordion="true" flat>
            <!-- price -->
            <v-expansion-panel>
              <v-expansion-panel-header>Precio</v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="d-flex price-inputs mb-4">
                  <v-text-field
                    :value="range[0]"
                    class="mt-0 pt-0"
                    hide-details
                    single-line
                    solo
                    flat
                    rounded
                    dense
                    @change="$set(range, 0, $event)"
                  ></v-text-field>
                  <v-text-field
                    :value="range[1]"
                    class="mt-0 pt-0"
                    hide-details
                    single-line
                    solo
                    flat
                    rounded
                    dense
                    @change="$set(range, 1, $event)"
                  ></v-text-field>
                </div>
                <v-range-slider
                  v-model="range"
                  :max="max"
                  :min="min"
                  hide-details
                  class="align-center"
                >
                </v-range-slider>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <!-- color -->
            <v-expansion-panel>
              <v-expansion-panel-header>Color</v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="d-flex price-inputs mb-4">
                  <v-text-field
                    :value="range[0]"
                    class="mt-0 pt-0"
                    hide-details
                    single-line
                    solo
                    flat
                    rounded
                    dense
                    @change="$set(range, 0, $event)"
                  ></v-text-field>
                  <v-text-field
                    :value="range[1]"
                    class="mt-0 pt-0"
                    hide-details
                    single-line
                    solo
                    flat
                    rounded
                    dense
                    @change="$set(range, 1, $event)"
                  ></v-text-field>
                </div>
                <v-range-slider
                  v-model="range"
                  :max="max"
                  :min="min"
                  hide-details
                  class="align-center"
                >
                </v-range-slider>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-container>
      </v-col>
      <v-col>
        <productCatalog />
      </v-col>
    </v-row>
    <!-- footer | pagination -->
    <v-row no-gutters class="filter-pagination border-top">
      <v-col cols="3" class="border-right"></v-col>
      <v-col class="d-flex align-center">
        <v-container no-gutters class="pa-0 fill-height">
          <v-row
            no-gutters
            class="fill-height align-center justify-space-between"
          >
            <!-- prev -->
            <v-col
              cols="auto"
              class="border-right fill-height d-flex align-center"
            >
              <v-btn icon fab small tile class="dp-btn">
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
            </v-col>
            <!-- pagination -->
            <v-col
              cols="4"
              class="border-right border-left text-center fill-height d-flex align-center justify-center"
            >
              <span>paginacion</span>
            </v-col>
            <!-- next -->
            <v-col
              cols="auto"
              class="border-left fill-height d-flex align-center"
            >
              <v-btn icon fab small tile class="dp-btn">
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import productCatalog from '@/components/commons/productCatalog'
export default {
  components: {
    productCatalog
  },
  data() {
    return {
      // slide
      min: 0,
      max: 90,
      slider: 40,
      range: [20, 70],
      // autocomplete
      loading: false,
      items: [],
      search: null,
      select: null,
      states: ['Alabama', 'Alaska', 'American Samoa', 'Arizona'],
      gridMode: true
    }
  },

  watch: {
    search(val) {
      val && val !== this.select && this.querySelections(val)
    }
  },
  methods: {
    querySelections(v) {
      this.loading = true
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.states.filter((e) => {
          return (e || '').toLowerCase().includes((v || '').toLowerCase()) > -1
        })
        this.loading = false
      }, 500)
    },
    toggleShopMode() {
      this.gridMode = !this.gridMode
    }
  }
}
</script>

<style lang="scss">
.global-filter,
.filter-pagination {
  height: 50px;
}
.dp-btn.dp-btn {
  width: 50px;
  height: 50px;
}
.product-search {
  &__border {
    border-right: 1px solid #ccc;
  }
}
.border-right {
  border-right: 1px solid #ccc;
}
.border-left {
  border-left: 1px solid #ccc;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
.border-top {
  border-top: 1px solid #ccc;
}
.v-expansion-panel.v-expansion-panel--active.v-item--active {
  background-color: #f2f2f2;
  border-radius: 0;
}
.price-inputs {
  justify-content: space-evenly !important;
  .v-input {
    flex: 0 1 30%;
  }
}
</style>
