<template>
  <v-footer class="footer" dark>
    <v-row class="justify-center">
      <span class="my-5"
        >&copy; {{ new Date().getFullYear() }} Frederick A. Gonzalez, Todos los
        derechos reservados
      </span>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>
<style lang="scss"></style>
