<template>
  <div class="catalog-wrapper">
    <div v-for="(item, i) in 9" :key="i" class="product" cols="4">
      <Product />
    </div>
  </div>
</template>

<script>
import Product from '@/components/commons/product'
export default {
  components: {
    Product
  }
}
</script>

<style lang="scss">
.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  background-color: rgba(204, 204, 204, 0.315);
  .product {
    background-color: white;
    height: 245px;
    display: flex;
    align-items: flex-end;
    // border: 1px solid black;
  }
}
</style>
