<template>
  <div
    :ref="featured ? 'featured-product' : 'product'"
    class="product__info fill-height"
    :class="featured ? 'featured-mode' : 'catalog-mode'"
  >
    <template v-if="featured">
      <v-btn
        small=""
        color="black"
        dark
        class="text-capitalize align-self-center product__discount"
        v-if="info"
      >
        {{ info.discount }}
      </v-btn>

      <div class="align-self-center product__header">
        <small v-if="info" class="white--text font-weight-bold">
          {{ info.header }}
        </small>
        <h2 v-if="info" class="white--text font-weight-light">
          {{ info.title }}
        </h2>
      </div>
      <v-btn small="" class="text-capitalize align-self-center product__action">
        Ver más
      </v-btn>
      <v-img
        :src="info.image"
        class="product__image"
        v-if="info"
        aspect-ratio="1"
        contain
      >
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular
              indeterminate
              color="white"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </template>
    <template v-else>
      <h3 class="product__title">Título</h3>
      <small class="product__price">$ 120.00</small>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    featured: {
      type: Boolean
    },
    info: {
      type: Object
    }
  },
  mounted() {
    if (process.browser) {
      window.onNuxtReady((app) => {
        this.$nextTick(function() {
          //   const el = this.$refs.product
          //   console.info(el)
        })
      })
    }
  }
}
</script>

<style lang="scss">
.product {
  &__info {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: max-content 1fr;
    width: 90%;
    margin: 0 auto;
    .v-btn {
      justify-self: start;
    }
    &.catalog-mode {
      padding: 1rem 0;
      height: max-content;
      width: 75%;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
    }
  }
  &__discount {
    grid-column: 1 / 2;
  }
  &__header {
    grid-column: 1 / 2;
  }
  &__action {
    grid-column: 1 / 2;
  }
  &__image {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    width: 100%;
    max-width: 250px;
    justify-self: center;
  }
}

.dp-badge {
  width: max-content;
  padding: 0.5rem;
  border-radius: 2.5px;
  font-size: 12.5px;
}
</style>
