<template>
  <AuthCard>
    <template>
      <!-- username -->
      <v-text-field label="Usuario"></v-text-field>

      <!-- password -->
      <v-text-field label="Contraseña"></v-text-field>
      <div class="d-flex flex-column">
        <v-btn
          small=""
          class="text-capitalize align-self-center"
          color="primary"
        >
          Entrar
        </v-btn>
        <small class="mt-3">
          <span>¿Aún no tienes cuenta?</span>
          <nuxt-link to="/auth/signUp">¡Registrate!</nuxt-link>
        </small>
      </div>
    </template>
  </AuthCard>
</template>

<script>
import AuthCard from '@/components/commons/authCard'
export default {
  layout: 'auth',
  components: {
    AuthCard
  }
}
</script>

<style lang="scss">
.auth-wrapper {
  height: 350px;
  width: 50%;
}
</style>
