<template>
  <v-app>
    <!-- content -->
    <v-main class="d-flex align-center">
      <nuxt />
    </v-main>
    <v-footer>
      <v-row class="justify-center">
        <span class="my-5"
          >&copy; {{ new Date().getFullYear() }} Frederick A. Gonzalez, Todos
          los derechos reservados
        </span>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>
