<template>
  <v-app>
    <Drawer />

    <AppBar />

    <!-- content -->
    <v-main>
      <nuxt />
    </v-main>

    <Footer />
  </v-app>
</template>

<script>
import AppBar from '@/components/commons/appBar'
import Drawer from '@/components/commons/drawer'
import Footer from '@/components/commons/footer'
export default {
  components: {
    AppBar,
    Drawer,
    Footer
  },
  data() {
    return {}
  }
}
</script>
<style lang="scss"></style>
